body {
	font: 12px/1.5 Tahoma, '\5FAE\8F6F\96C5\9ED1', 'Microsoft Yahei', "hiragino sans gb", Helvetica, Arial, "\5b8b\4f53", 'sans-serif';
	color: #333;
}

a {
	color: #333;
	font-size: 14px;
}

strong,
b {
	font-weight: bold;
}

.one-top {
	width: 100%;
	line-height: 30px;
	height: 30px;
	text-align: center;
	background: #1c1d1e;
}

.one-top-center .logo {
	float: left;
	background: url(../img/yinyue1/yinLogo.png);
	width: 57px;
	height: 30px;
	margin-left: 15px;
}

.one-top-center .attention {
	position: relative;
	font-size: 12px;
	color: #9B9B9C;
	line-height: 30px;
	margin-left: 67%;
}

.attention .xian {
	margin-left: 42px;
	cursor: pointer;
	color: #2f3031;
	font-weight: bold;
	position: absolute;
}

.attention li:nth-of-type(2) {
	left: 102px;
}

.attention li:nth-of-type(4) {
	left: 251px;
}

.sina {
	position: absolute;
	top: 0;
	width: 135px;
	text-align: center;
	z-index: 101;
	cursor: pointer;
	padding: 0 10px;
}

.weixin {
	position: absolute;
	top: 0;
	width: 135px;
	left: 36%;
	text-align: center;
	z-index: 100;
	padding: 0 10px;
	cursor: pointer;
}

.attention img {
	width: 135px;
}

.popsina {
	width: 135px;
	display: none;
}

.popweixin {
	width: 135px;
	display: none;
}

.popsina p:nth-of-type(1),
.popweixin p:nth-of-type(1) {
	font-size: 14px;
	color: #ff2c72;
	margin-top: -12px;
}

.popsina p:nth-of-type(2),
.popweixin p:nth-of-type(2) {
	font-size: 14px;
	color: #1f2021;
	margin-top: -11px;
}

.zhengpin {
	top: 0;
	left: 77%;
}

.zhengpin a {
	font-size: 12px;
	color: #9B9B9C;
}

.one-mid {
	border-bottom: 1px solid #4c4d4e;
	background: #1f2122;
	height: 130px;
}

.one-mid-center .shop-logo {
	background: url(../img/yinyue1/shop-logo-v1.png);
	line-height: 77px;
	float: left;
	margin: 28px 0 23px 65px;
	width: 73px;
	height: 77px;
}

.one-mid-center .search {
	position: relative;
	float: left;
	margin: 45px 0 0 230px;
	width: 451px;
	height: 38px;
	background: url(../img/yinyue1/search_icon.png) no-repeat -1px -44px;
}

.one-mid-center .search input {
	position: absolute;
	top: 2px;
	left: 23px;
	width: 415px;
	height: 17px;
	background: none;
	color: #918f8f;
	line-height: 17px;
	padding-top: 9px;
	overflow: hidden;
}

.one-mid-center .search a {
	position: absolute;
	top: 0;
	right: 15px;
	display: block;
	width: 24px;
	height: 39px;
	background: url(../img/yinyue1/search_icon.png) -461px 0 no-repeat;
}

.one-mid-center .search .botline {
	position: absolute;
	display: none;
	top: 38px;
	left: 16px;
	z-index: 100;
	width: 418px;
	border-radius: 0 0 13px 13px;
	background-color: #fff;
	border-bottom: 1px solid #FF2C72;
	border-left: 1px solid #FF2C72;
	border-right: 1px solid #FF2C72;
}

.shop_sl {
	margin-bottom: 11px;
}

.shop_sl_hot p {
	position: relative;
	height: 30px;
	border-bottom: #ececec 1px solid;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	width: 392px;
	margin: 0 13px 0 13px;
}

.shop_sl_hot li:hover {
	background-color: #ececec;
	color: #ed2164;
	cursor: pointer;
}

a.recentsrch:hover {
	color: #ed2164;
}

.shop_sl_hot li {
	padding: 0 13px;
	width: 392px;
	height: 27px;
	font-size: 14px;
	line-height: 27px;
}

.shop_sl>li .recentsrch {
	position: static;
	display: inline-block;
	width: 360px;
}

.one-mid-right {
	float: right;
}

.one-mid-right span a {
	font-size: 12px;
	padding-left: 20px;
	color: #fff;
	line-height: 129px;
	vertical-align: middle;
}

.one-mid-right span a:hover {
	color: #ff2c72;
}

.one-mid-right span:nth-of-type(1) a {
	padding-left: 9px;
}

.one-mid-right span:nth-of-type(3) a {
	padding-left: 0px;
}

.one-mid-right i {
	vertical-align: middle;
}

.one-mid-right i:nth-of-type(2) {
	margin: 0 18px;
}

.one-mid-right .icon1 {
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(../img/yinyue1/avatar.png) no-repeat;
}

.one-mid-right .icon2 {
	width: 19px;
	height: 17px;
	display: inline-block;
	background: url(../img/yinyue1/cart-logo-v1.png) no-repeat;
}

.one-bot {
	width: 100%;
	background: #1f2122;
}

.one-bot .fenlei {
	display: inline-block;
	position: relative;
	width: 100px;
	background: #191a1b;
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 35px;
	cursor: pointer;
	margin: 0 50px;
}

.fenlei .classify {
	position: absolute;
	top: 35px;
	left: -50px;
	z-index: 100;
	display: none;
	padding: 18px 0px 21px 50px;
	width: 1100px;
	background: #f3f3f3;
	box-shadow: 3px 3px 20px #ccc;
}

.fenlei .classify h4 {
	float: left;
	margin-right: 35px;
	color: #1f2021;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.one-bot a {
	color: #f5f5f5;
	font-size: 14px;
}

.one-bot a:hover {
	color: #ff2c72!important;
}

.fenlei .classify li>a {
	display: inline-block;
	background: url(../img/yinyue1/more.png) 0 -31px no-repeat;
	width: 49px;
	height: 17px;
}

.fenlei .classify li>a:hover {
	background: url(../img/yinyue1/more.png) 0 -47px no-repeat
}

.fenlei .classify li h4>a {
	color: #1f2021;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.fenlei .classify li h4>a:hover,
.fenlei .classify .japan p>span:hover {
	color: #cb3567;
}

.fenlei .classify .japan p {
	overflow: hidden;
	width: 920px;
	float: left;
}

.fenlei .classify .japan p>span {
	font-size: 14px;
	float: left;
	margin-right: 8px;
	margin-bottom: 12px;
	width: 176px;
	color: #1f2021;
	text-align: left;
	line-height: 20px;
}

.one-bot .nav {
	float: right;
}

.one-bot .nav li {
	float: left;
	line-height: 35px;
	margin-right: 44px;
	padding: 0 15px;
	height: 32px;
}

.one-bot .nav li.li1 {
	border-bottom: 3px solid #ff2c72;
}

.one-bot .nav li.li1 a {
	color: #ff2c72;
}

.centerBox_detail {
	margin: 0 auto;
	width: 980px;
}

.detail_title {
	height: 77px;
	color: #abadae;
	font-size: 14px;
	line-height: 77px;
}

.detail_title a:hover {
	color: #ed2164;
}

.goodsBox {
	max-height: 600px;
}

.goodsBox_Pic {
	float: left;
}

.goodsPic {
	width: 420px;
	height: 420px;
	border: 1px solid #e5e5e5;
}
.goodsPic img {
	width: 100%; 
	margin-left: 0px; 
	margin-top: 52.5px;
}
.operateBox {
	position: relative;
	padding: 20px 0 10px;
}

.operateBox p {
	float: right;
	color: #c0c2c3;
	font-size: 14px;
}

.like {
	color: #b3b3b3;
}

.operateBox .like span {
	margin-right: 10px;
	cursor: pointer;
}

.like span:hover,
.like span.active {
	background: url(../img/xiangqing/ico.png) -13px -72px no-repeat;
}

.like span {
	display: inline-block;
	margin-right: 5px;
	width: 13px;
	height: 10px;
	background: url(../img/xiangqing/ico.png) 0 -72px no-repeat;
	cursor: pointer;
}

.operateBox .share {
	margin-right: 20px;
}

#bdshare {
	z-index: 999999;
	padding-bottom: 2px;
	text-align: left!important;
	line-height: 14px; 
	font-size: 14px;
	zoom: 1;
}

#bdshare_l {
	z-index: 999999;
	width: 212px;
	position: absolute;
	background: #fff;
	text-align: left;
}

#bdshare_l_c {
	width: 210px;
	float: left;
	border: 1px solid #e9e9e9;
	text-align: left;
}

#bdshare ul,
#bdshare_l ul {
	width: 98%;
	float: left;
	padding: 8px 0;
	margin-left: 2px;
	overflow: hidden;
}

#bdshare p a,
#bdshare_l_c p a {
	width: auto;
	text-align: right;
	float: right;
	padding: 0 5px;
}

#bdshare_l_c ul li {
	width: 47%;
	height: 26px;
	float: left;
	margin: 2px;
}

#bdshare_l_c ul li a {
	background: url(../img/xiangqing/is.png) no-repeat;
	height: auto!important;
}

#bdshare_l_c p a.goWebsite,
#bdshare_m_c p a.goWebsite,
#bdshare_pop p a.goWebsite {
	font-size: 12px;
	text-align: right;
	background: url(../img/xiangqing/pi.gif) no-repeat 0 center;
	line-height: 16px;
	padding-left: 12px;
	color: #8c8c8c;
}

.bds_mshare {
	background-position: 0 -2070px!important;
}

.bds_qzone {
	background-position: 0 -75px!important;
}

.bds_tsina {
	background-position: 0 -115px!important;
}

.bds_bdysc {
	background-position: 0 -2550px!important;
}

.bds_renren {
	background-position: 0 -195px!important;
}

.bds_tqq {
	background-position: 0 -235px!important;
}

.bds_bdxc {
	background-position: 0 -2190px!important;
}

.bds_kaixin001 {
	background-position: 0 -275px!important;
}

.bds_tqf {
	background-position: 0 -315px!important;
}

.bds_tieba {
	background-position: 0 -595px!important;
}

.bds_douban {
	background-position: 0 -395px!important;
}

.bds_tsohu {
	background-position: 0 -435px!important;
}

.bds_bdhome {
	background-position: 0 -155px!important;
}

.bds_sqq {
	background-position: 0 -2230px!important;
}

.bds_thx {
	background-position: 0 -1829px!important;
}

.bds_more {
	background-position: 0 4px!important;
}

#bdshare p,
#bdshare_l p {
	width: 100%;
	height: 21px;
	background-color: rgb(248, 248, 248);
	float: left;
	font: 12px 宋体;
	border-top: 1px solid rgb(242, 241, 241);
	padding: 0px;
	margin: 0px;
}

#bdshare h6,
#bdshare_l h6 {
	width: 100%;
	text-indent: 0.5em;
	background-color: rgb(246, 246, 246);
	float: left;
	font: 700 14px/22px 宋体;
	border-top: 1px solid rgb(251, 251, 251);
	border-bottom: 1px solid rgb(242, 241, 241);
	padding: 5px 0px;
	margin: 0px;
}

#bdshare ul li a,
#bdshare_l ul li a {
	color: rgb(86, 86, 86);
	display: block;
	width: 98%;
	text-indent: 2.4em;
	font: 12px 宋体;
	padding: 6px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-image: initial;
}

.operateBox .share span {
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	height: 14px;
	background: url(../img/xiangqing/detail_ico.png) no-repeat 0 -85px;
	vertical-align: middle;
	cursor: pointer;
	padding-left: 22px;
}

.picSlide {
	position: relative;
}

.picSlide .slick {
	padding-left: 45px;
	width: 420px;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	opacity: 1; 
	width: 94px; 
	transform: translate3d(0px, 0px, 0px);
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	width: 94px;
}

.slick-slide img {
	display: block;
	border: 1px solid rgb(249, 135, 173);
}

.picSlide .pic_arr {
	position: absolute;
	top: 8px;
	width: 17px;
	height: 30px;
	background: url(../img/xiangqing/detail_ico.png) no-repeat;
}

.picSlide .pic_pre {
	left: 0;
	background-position: 0 0;
}

.picSlide .pic_next {
	right: 0;
	background: url(../img/xiangqing/pic_pre.png) no-repeat center;
}

.goodsBox_info {
	position: relative;
	float: left;
	margin-left: 25px;
	padding-right: 15px;
	width: 425px;
	min-height: 508px;
	border-right: 1px solid #ddd;
}

.goodsBox_info .goodsTitle {
	color: #333739;
	font-weight: bold;
	font-size: 16px;
}

.goodsBox_info div {
	margin-top: 15px;
}

.goodsBox_info div h4 {
	display: inline-block;
	margin-right: 14px;
	width: 56px;
	color: #b9bbbc;
	text-align: left;
	font-size: 14px;
	padding-left: 3px;
}

.goodsBox_info div p {
	display: inline-block;
	color: #616567;
	font-size: 14px;
}

.goodsBox_info .artist a {
	color: #b9bbbc;
}

.goodsBox_info .price {
	margin-top: 8px;
}

.goodsBox_info .price p {
	color: #ff2c72;
	font-weight: bold;
	font-size: 28px;
}

.goodsBox_info .price span.pre {
	display: inline-block;
	margin-left: 16px;
	color: #a1a3a3;
	text-decoration: line-through;
	font-weight: 200;
	font-size: 12px;
}

.selectBox {
	position: relative;
	padding: 18px 0 30px;
	border-top: 1px solid #f2f2f2;
	min-height: 145px;
}

#popHead {
	position: relative;
	display: none;
	width: 100%;
	background: #eaeaea;
	font-size: 12px;
	line-height: 33px;
}

.popMsg {
	padding-left: 16px;
	color: #f52a6e;
}

.popClose {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/xiangqing/popClose.png) no-repeat;
	cursor: pointer;
}

.selectBox .count {
	font-size: 0;
}

.selectBox .count p i {
	color: #787a7b;
}

.goodsBox_info div h4 {
	display: inline-block;
	margin-right: 14px;
	width: 56px;
	color: #b9bbbc;
	text-align: left;
	font-size: 14px;
	padding-left: 3px;
}

.selectBox .count a {
	display: inline-block;
	width: 24px;
	height: 30px;
	background: #eaeaea;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	cursor: pointer;
}

.selectBox .count input {
	width: 42px;
	height: 28px;
	border: 1px solid #c9c9c9;
	color: #333739;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	/*box-sizing: border-box;*/
}

.selectBox .count p {
	margin-left: 15px;
	color: #adafb0;
	font-size: 14px;
}

.pop_submit {
	display: block;
	display: none;
	margin: 14px auto;
	width: 122px;
	height: 26px;
	background: url(../img/xiangqing/popBtn.png);
	cursor: pointer;
}

.btnBox .addToCart {
	width: 170px;
	height: 50px;
	background: url(../img/xiangqing/detail_btn_v1_04.png) no-repeat -10px -10px;
	cursor: pointer;
	margin-right: 10px;
}

.btnBox .buyNow {
	margin-right: 10px;
	width: 170px;
	height: 50px;
	background: url(../img/xiangqing/detail_btn_v1_04.png) no-repeat -10px -68px;
	cursor: pointer;
}

.goodsBox_info .goods_about {
	margin-top: 6px;
}

.divzpbz {
	background: url(../img/xiangqing/zpbz.png) no-repeat;
	width: 201px;
	height: 18px;
}

.goodsBox_ralated {
	position: relative;
	float: right;
}

.fanStation {
	overflow: hidden;
}

.guanggao {
	background: url(../img/xiangqing/tuangou20180126.jpg) no-repeat;
	height: 82px;
	margin-top: 14px;
}

.detailBox {
	margin-top: 14px;
}

.detailBox_title {
	width: 980px;
	height: 34px;
	border: 1px solid #d9d9d9;
	color: #a1a3a3;
	font-size: 14px;
	line-height: 34px;
}

.detailBox_title p.cur {
	background: #333739;
	color: #fff;
}

.detailBox_title p {
	position: relative;
	float: left;
	padding: 0 13px;
	cursor: pointer;
}

.detailBox_title p.cur i {
	position: absolute;
	top: 33px;
	left: 35px;
	display: block;
	width: 0;
	border-top: 5px #333739 solid;
	border-right: 5px transparent solid;
	border-left: 5px transparent solid;
}

.detailBox_title p {
	position: relative;
	float: left;
	padding: 0 13px;
	cursor: pointer;
}

.detailBox_title .fixedBtn {
	float: right;
	display: none;
	margin-left: 8px;
	width: 102px;
	height: 100%;
	background: #f63f7c;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.detailBox_title span {
	display: none;
}

.detailBox_title span {
	float: right;
	color: #333739;
	font-size: 22px;
}

.detailBox div.details {
	padding: 20px;
}

.detailBox div.details p {
	padding-bottom: 18px;
	font-size: 16px;
}

.box_info .p1 {
	text-align: center;
}
.span1 {
	font-family: 宋体; 
	background: rgb(255,255,255); 
	font-size: 16px;
}
.span2 {
	font-family: 宋体; 
	background: rgb(255,255,255); 
	color: rgb(255,0,0); 
	font-size: 16px;
}
.span3 {
	font-family: 宋体;
}
.span4 {
	font-family: 宋体; 
	color: rgb(255,0,0); 
	font-size: 16px;
}
.span5 {
	font-family: 宋体; 
	font-size: 16px;
}
.span6 {
	font-family: 'Tahoma','sans-serif'; 
	font-size: 16px;
}
.span7 {
	font-family: 宋体; 
	background: white;
}
.span8 {
	font-family: 宋体; 
	background: white; 
	color: rgb(255,0,0); 
	font-size: 20px;
}
.span9 {
	font-family: 宋体; 
	background: rgb(255,255,255); 
	letter-spacing: 0px; 
	color: rgb(25,31,37); 
	font-size: 16px;
}
.span10 {
	font-family: 宋体; 
	background: rgb(255,255,255); 
	color: rgb(255,0,0); 
	font-size: 21px;
}
.span11 {
	font-family: 宋体; 
	background: white; 
	color: red;
}
.span12 {
	font-family: 宋体; 
	background: white; 
	color: red; 
	font-size: 20px;
}
.box_info img,
.box_rule img {
	display: block;
	margin: 10px auto 30px;
	max-width: 750px;
}

.detailBox div.details {
	padding: 20px;
}

.box_info,
.box_rule {
	display: none;
	margin-top: 4px;
}

.nav_fixed {
	position: fixed;
	top: 0;
	z-index: 297;
	background-color: #fff;
}

.shopMenu {
	position: fixed;
	bottom: 10%;
	left: 50%;
	z-index: 50;
	margin-left: 590px;
	width: 62px;
	height: 241px;
}

.shopMenu a.shopMenu_cart {
	background-position: -3px -3px;
}

.shopMenu a {
	display: block;
	margin-bottom: 8px;
	width: 60px;
	height: 60px;
	background: url(../img/yinyue1/menu_v3.png) no-repeat;
}

.shopMenu a.shopMenu_cart:hover {
	background-position: -75px -3px;
}

.shopMenu_cart:hover #cartNum {
	color: #f52a6e;
	background-position: 0;
}

.shopMenu a.shopMenu_service:hover {
	background-position: -75px -64px;
}

.shopMenu a.shopMenu_notice:hover {
	background-position: -75px -125px;
}

.shopMenu a.return_top:hover {
	background-position: -75px -186px;
}

#cartNum {
	position: relative;
	top: -5px;
	left: 19px;
	display: none;
	width: 22px;
	height: 23px;
	background: url(../img/yinyue1/cart_num.png) no-repeat -25px 0;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 23px;
}

.shopMenu a.shopMenu_service {
	background-position: -3px -64px;
}

.shopMenu a.shopMenu_notice {
	background-position: -3px -125px;
}

.shopMenu a.return_top {
	display: none;
	height: 62px;
	background-position: -3px -186px;
}

.shopMenu a.return_top:hover {
	background-position: -75px -186px;
}

.footerBox {
	margin: 60px auto 25px;
	width: 1200px;
	height: 57px;
	background: url(../img/yinyue1/footer_v180123.png) no-repeat;
}

.footer {
	margin: auto 0;
	min-width: 1000px;
	height: 150px;
	color: #999;
	line-height: 22px;
	text-align: center;
	background: #181818;
}

.footer_link {
	font-size: 14px;
	padding: 35px 0 20px;
	color: #666;
}

.footer_link a {
	color: #666;
}

.footer_copy a {
	color: #999;
}
.footer_copy .footer-img {
	vertical-align: top;
	width:25px;
	height:25px;
	margin-right:3px;
}
.ico_line {
	font-family: Helvetica;
	width: 2px;
	height: 10px;
	margin: 0 8px;
	display: inline-block;
	overflow: hidden;
	background: url(../img/yinyue1/ico_index.png) no-repeat -70px 0;
}

.footer a:hover {
	color: #52e2c0;
	text-decoration: none;
	width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}